# Visual Studio
.vs/
*.user
*.suo
 
# Build folders
bin/
obj/
 
# SQL Server backups
*.bak
*.suo

# Logs
Log/
 
# Temporary files
Files/Temp/
 
# Generated PDFs
Files/PDF/
 
# SQL backup folder
Files/SqlBackup/
 
# NuGet
packages/
 
# ReSharper
_ReSharper*/

BMMS/connectionStrings.config
