.textIndicator_poor,
.textIndicator_weak,
.textIndicator_good,
.textIndicator_strong,
.textIndicator_excellent {
padding-top:2px;
padding-left:15px;
font-weight:bold;
}

.textIndicator_poor {
background-color:Transparent;
color:red;
}
 
.textIndicator_weak {
background-color:Transparent;
color:red;
}
 
.textIndicator_good {
background-color:Transparent;
color:red;
}
 
.textIndicator_strong {
background-color:Transparent;
color:green;
}
 
.textIndicator_excellent {
background-color:Transparent;
color:red;
}

